.email-form {
  &-wrapper {
    padding-top: 100px;
    font-family: Circe, sans-serif;
  }

  &-in {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left {
      width: 450px;
      border-radius: 8px;

      .top-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1.33em;
        line-height: 1.33em;
        text-align: left;

        span:first-child {
          font-weight: bold;
          font-size: 2em;
          line-height: 1.22222em;
        }
      }

      .form-block {
        padding-top: 50px;
      }

    }

    .right {
      width: 450px;
      padding: 35px;
      background-color: #fff;
      border-radius: 8px;
      color: black;
      text-align: left;
      font-size: 1.444em;
      margin-right: 100px;
      margin-top: 106px;

      .title {
        font-weight: bold;
        line-height: 1.23em;
      }

      .body {
        margin-top: 15px;
        font-size: 18px;
        line-height: 24px;
        font-family: HelveticaNeue, sans-serif;

        span {
          display: inline-block;

          & + span {
            margin-top: 30px;
          }
        }
      }
    }
  }
}


//FORM

.email-form {
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .form-item {
      width: 100%;

      & + .form-item {
        margin-top: 15px;
      }

      input, textarea {
        width: 100%;
        padding: 20px;
        color: #fff;
        background-color: #0056dd;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        outline: none;
        box-sizing: border-box;
        resize: none;
        font-family: HelveticaNeue, sans-serif;
        font-size: 18px;

        &:focus {
          background-color: hsla(0, 0%, 100%, .2);
        }

        &::placeholder {
          font-family: HelveticaNeue, sans-serif;
          color: #6798E5;
          font-weight: 600;
          font-size: 18px;
        }
      }

      textarea {
        min-height: 120px;
      }
    }

    .button-block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;

      img {
        display: block;
        width: 30px;
        height: 30px;
      }
    }
  }

  button {
    background-color: @colorEmailBtn;
    display: inline-block;
    border-radius: 32px;
    font-weight: 700;
    color: #fff;
    border: none;
    text-transform: uppercase;
    -webkit-transition: box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    cursor: pointer;
    font-size: 18px;
    padding: 18px 80px 14px;

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    }

    &[disabled=disabled], &:disabled {
      background-color: hsla(0, 0%, 100%, .2);;
    }
  }
}