.email-form {
  &-wrapper {
    padding-top: 50px;
  }

  &-in {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
    }

    .right {
      width: 450px;
      padding: 35px;
      margin-right: 100px;
      background-color: #fff;
      border-radius: 8px;
      box-sizing: border-box;
      color: black;
      .title{
        font-weight: bold;
      }
      .body{}
    }
  }
}