.App {
    text-align: center;
    background-color: #1372EE;
    background-image: url('./assets/backGround.webp');
    background-repeat: no-repeat;
    background-position: right top -130px;
    min-height: 100vh;
}

@font-face {
    font-family: 'Circe';
    src: local('Circe'), url('./fonts/Circe.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: local('HelveticaNeue'), url('./fonts/Helvetica-Neue.woff') format('woff');
}
